@model IEnumerable<A1Carpentry.Models.JobsModel>



@{
    ViewBag.Title = "JobProfileSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //int nsno = 1;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>


        html {
            box-sizing: border-box;
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -ms-overflow-style: scrollbar
        }

        .popup-content-text {
            text-align: center;
            color: #fff;
            font-size: 20px;
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box !important
        }
    </style>
</head>

<body data-sa-theme="1">

    <section class="content">
        <header class="content__title">
            <h1>Job Profile Summary</h1>
        </header>

        <div class="statbox widget box box-shadow">

            <div class="widget-content widget-content-area">


                <div class="table-responsive mb-4">
                    <table id="data-table" class="table style-2 table-bordered  table-hover">
                        <thead>
                            <tr>
                                @*<th>SNo</th>*@
                                <th>Job Number</th>
                                <th>Job Name</th>
                                @* <th>Job Description</th>*@
                                <th>Client</th>
                                <th>Contract Cost</th>
                                <th>Time/Material Costs</th>

                                @*<th>Other Description</th>*@
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Job Type</th>
                                <th>Tasks</th>
                                <th>Edit/Delete</th>


                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>@(nsno++)</td>*@
                                    <td>@item.JobNumber</td>
                                    <td>@item.JobName</td>
                                    @* <td>@item.JobDescription</td>*@
                                    <td>@item.Client</td>
                                    <td>@item.ContractCost</td>
                                    <td>@item.TimeSummaryCost/@item.MaterialSummaryCost</td>

                                    @*<th>@item.OtherDescription</th>*@
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.JobType</td>
                                    <td>
                                        <a href="@Url.Action("NumberofTasks","SuperAdmin", new { id = @item.JobID, IsEdit = true })" class="shadow-none badge badge-info">Details</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("UpdateJobProfile","SuperAdmin", new { id = @item.JobID, IsEdit = true })" class="shadow-none badge badge-warning">Edit</a>
                                        <br />
                                        <br />
                                        @*<a href="@Url.Action("DeleteJobProfile","SuperAdmin", new { id = @item.JobID})" class="shadow-none badge badge-danger btn-nw-danger">Delete</a>*@
                                        <button type="button" class="open-AddBookDialog shadow-none badge badge-danger btn-nw-danger" data-toggle="modal" onclick="senduserid(@item.JobID)" data-target="#exampleModalCenter">
                                            Delete
                                        </button>


                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Job Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="popup-content-text"> Are you sure want to delete this Job </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" id="Save" onclick="return SubmitDetails()" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</body>


</html>

<script>
    var id;
    function senduserid(data) {
        id = data;
        //alert(data);
    }
</script>

<script type="text/javascript">
    $(document).on("click", ".open-AddBookDialog", function () {
        debugger;
        $('.exampleModalCenter').modal('show');
    });
</script>
<script>
     function SubmitDetails() {
        debugger
      $.ajax({
          url: '/SuperAdmin/DeleteJobProfile',                 // Changed
          type: "Get",
          data: { id: id },


          success: function (result) {
              debugger;
              if (result == true) {
                  debugger;
                    window.location.href = '@Url.Action("JobProfileSummary", "SuperAdmin")';
                }
              else {
                  debugger;
                    window.location.href = '@Url.Action("Login", "Login")';
                }
            }
        })

    };
</script>